DATABASE_URL=postgres://postgres:postgres@localhost:5432/stayup
JWT_SECRET=changeme
API_USERNAME=admin
API_PASSWORD=changeme

UI_URL=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
